<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/Css/detailProject.css" />
    <link rel="stylesheet" href="/public/Css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <title>Bootcamp Dumbways</title>
</head>

<body>
 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg">
    <div class="container-fluid text-center d-flex mx-5">
      <a class="navbar-brand" href="#">
        <img src="public/images/logo.png" alt="logo" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="myProject">Add Project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="testimonial">Testimonial</a>
          </li>
        </ul>
        {{if .DataSession.IsLogin}}
        <form id="logoutform" action="/logout" method="POST"></form>
        <div class="dropdown-center btn-dropdown-logout">
          <a
            class="btn dropdown-toggle ps-0 mb-0"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            style="border: none"
          >
            Hello, {{.DataSession.Name}}
          </a>

          <ul
            class="dropdown-menu text-lg-end text-start m-0 pt-0 bg-body-tertiary"
            style="border: none"
          >
            <a
              class="dropdown-item bg-body-tertiary ps-0"
              href="#"
              style="border: none"
              onclick="document.getElementById('logoutform').submit()"
              >Logout</a
            >
          </ul>
        </div>
        {{else}}
        <a class="btn btn-close-white fs-6 border-0" href="/form-register"
          >Register</a
        >
        <a class="btn btn-close-white fs-6 mx-2" href="/form-login">Login</a>
        {{end}}
        <ul class="navbar-nav ms-auto">
          <li class="nav-link">
            <a
              href="contact"
              class="btn btn-outline-secondary"
              style="
                background-color: black;
                color: white;
                border-style: none;
              "
              >Contact Me</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Of Navbar -->
    <h2>{{.Project.ProjectName}}</h2>
    <div class="warpContainer">
        <div class="containerInfo">
            <div class="image">
                <img src="/public/images/blog-img.png" alt="">
            </div>
            <div class="dateAndDuration">
                <div class="infoDateAndDuration">
                    <h3>Duration</h3>
                    <div>
                        <i class="fa-solid fa-calendar-days"></i>
                        <span>{{.Project.StartDate}} - {{.Project.EndDate}}</span>
                    </div>
                    <div>
                        <i class="fa-regular fa-clock"></i>
                        <span>8 Month</span>
                    </div>
                </div>
                <div class="iconTech">
                    <h3>Technologies</h3>
                    <div class="icon">
                        <div>
                            {{if .Project.NodeJs}}
                            <i class="fa-brands fa-node"></i>
                            <span>Node Js</span>
                            {{end}}
                        </div>
                        <div>
                            {{if .Project.ReactJs}}
                            <i class="fa-brands fa-react"></i>
                            <span>React Js</span>
                            {{end}}
                        </div>
                        <div>
                            {{if .Project.Golang}}
                            <i class="fa-brands fa-golang"></i>
                            <span>Golang</span>
                            {{end}}
                        </div>
                        <div>
                            {{if .Project.JavaScript}}
                            <i class="fa-brands fa-square-js"></i>
                            <span>JavaScript</span>
                            {{end}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="paragraph">
        {{.id}}
        <p>
           {{.Project.Content}}
        </p>
</body>

</html>