<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="public/Css/all.css" />
    <link rel="stylesheet" href="public/Css/nav.css" />
    <link rel="stylesheet" href="public/Css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <title>Personal Web</title>
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid text-center d-flex mx-5">
        <a class="navbar-brand" href="#">
          <img src="public/images/logo.png" alt="logo" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="myProject">Add Project</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="testimonial">Testimonial</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto">
            <li class="nav-link">
              <a
                href="contact"
                class="btn btn-outline-secondary"
                style="
                  background-color: black;
                  color: white;
                  border-style: none;
                "
                >Contact Me</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Of Navbar -->
    <!-- Home Start -->
    <section class="profile" id="profile">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-md-6 p-5 mt-5 text-black">
            <h3 class="fw-bold">Hi Welcome to my hut</h3>
            <p class="lh-lg">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus
              harum ad neque sequi laboriosam repellat illum? Cumque,
              consequuntur eligendi animi doloribus error aliquam quisquam,
              debitis minus excepturi, eum illo sint?
            </p>
            <a
              href="contact"
              class="btn btn-primary mx-2"
              style="background-color: black; color: white; border-style: none"
              >Contact</a
            >
            download cv
            <a href="public/PDF/sezyxx.pdf" class="mx-1"
              ><i
                class="fa-solid fa-arrow-down"
                style="text-decoration: none; color: black"
              ></i
            ></a>
            <div class="iconSocial icon mt-5 fs-4 mx-2">
              <a href="https://www.linkedin.com/in/mochamad-saddam-a44b87249/">
                <i class="fa-brands fa-linkedin"></i>
              </a>
              <a href="https://github.com/sezyxx">
                <i class="fa-brands fa-github"></i>
              </a>
              <a href="https://twitter.com/sezyxx">
                <i class="fa-brands fa-twitter"></i>
              </a>
              <a href="https://instagram.com/encdamz">
                <i class="fa-brands fa-instagram"></i>
              </a>
            </div>
          </div>
          <div class="col-md-5 p-5">
            <div class="card mx-2 p-2">
              <img
                src="public/images/fotoProfile.jpg"
                class="card-img-top rounded"
              />
              <div class="card-body text-center">
                <h3>Mochamad Saddam</h3>
                <p>Fullstack Developer</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- My Project -->
    <hr />
    <div>
      <h1 class="d-flex justify-content-center">My Project</h1>
    </div>
    {{range $index, $project := .Project}}
    <div class="container text-center card" style="width: 20%">
      <div class="row">
        <div class="col">
          <img
            src="public/images/blog-img.png"
            style="width: 100%; padding-top: 15px; border-radius: 8px"
          />
          <a
            href="detailProject/{{$index}}"
            style="text-decoration: none; color: black"
          >
            <h3>{{$project.ProjectName}}</h3>
          </a>
          <p
            class="durationMonth pt-4"
            style="display: flex; justify-content: start"
          >
            Start Date | End Date : {{$project.StartDate}} |
            {{$project.EndDate}}
          </p>
          <p class="d-flex" style="display: flex; text-align: justify">
            {{$project.Content}}
          </p>
          <p
            class="icon"
            style="font-size: 20px; display: flex; justify-content: start"
          >
            {{if $project.NodeJs}}
            <i class="fa-brands fa-node" style="padding-left: 5px"></i>
            {{end}} {{if $project.ReactJs}}
            <i class="fa-brands fa-react" style="padding-left: 5px"></i>
            {{end}} {{if $project.Golang}}
            <i class="fa-brands fa-golang" style="padding-left: 5px"></i>
            {{end}} {{if $project.JavaScript}}
            <i class="fa-brands fa-square-js" style="padding-left: 5px"></i>
            {{end}}
          </p>
          <div class="buttons">
            <form action="">
              <button
                type="button"
                class="button btn btn-secondary btn-sm"
                style="background-color: black; color: white"
              >
                Edit
              </button>
            </form>
            <form action="/deleteProject/{{$index}}" method="post">
              <button
                class="button btn btn-secondary btn-sm"
                style="background-color: black; color: white"
              >
                Delete
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {{end}}
    <!-- Home End -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    />
    <script src="public/Js/index.js" />
  </body>
</html>
