@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

* {
  margin: 0;
  text-decoration: none;
  color: black;
  font-family: "Poppins";
  scroll-behavior: smooth;
  background-color: white;
}
