.container {
  margin: 100px;
  padding: 60px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.container {
  margin: 100px;
  padding: 60px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.container-form-register .titleRegister > h1 {
  font-weight: bold;
  padding-bottom: 20px;
}

.inputUsername > label {
  display: flex;
  justify-content: start;
  font-size: 30px;
  font-weight: 50;
}

.inputUsername > input {
  display: flex;
  height: 40px;
  border-radius: 10px;
  width: 500px;
}

.inputEmail > label {
  display: flex;
  justify-content: start;
  font-size: 30px;
  font-weight: 50;
}

.inputEmail > input {
    display: flex;
    border-radius: 10px;
    height: 40px;
    width: 500px;  
}

.inputPassword > label {
  display: flex;
  justify-content: start;
  font-size: 30px;
  font-weight: 50;
}

.inputPassword > input {
  display: flex;
  border-radius: 10px;
  height: 40px;
  width: 500px;
}

.buttonSubmitRegister {
  display: flex;
  justify-content: flex-end;
  text-align: end;
}

.buttonSubmitRegister button {
  margin: 20px;
  width: 120px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: black;
  color: white;
  border-radius: 10px;
}

.buttonSubmitRegister button:hover {
  background-color: white;
  color: black;
}
